.el-radio__input.is-checked+.el-radio__label
  color #40b6ff
.el-checkbox__input.is-checked+.el-checkbox__label
  color #40b6ff
.el-radio__input.is-checked .el-radio__inner
  background-color #40b6ff
  border-color #40b6ff
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner
  background-color #40b6ff
  border-color #40b6ff
.el-table th
  background-color #EFF2F6
  font-size 12px
  color #525F75
  .cell
    font-weight bold
.el-table td
  border-bottom none
.border.el-table td
  box-shadow 0 -1px 0 #E0E6ED
.el-dialog__header
  box-shadow 0 1px 0 #E8E8ED
.index
  .sendDetail
    .title
      .el-input__inner
        border none
        background #EEF8FF
        color #40B6FF
        border-radius 4px
      .el-input__icon
        color #40B6FF
.tooltipItem
  max-width 400px
.tooltipOverflow
  display inline-block
  width 128px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap